html {
    font-size: 1rem;
}

h1 {
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase
}

.topic {
    font-size: 3rem;
    text-align: center;
}

.info {
    font-size: 2rem;
    text-align: center;
}

#bsDiv {
    background-color: skyblue;
    height: 40vh;
    width: 30vw;
    box-shadow: 10px 10px 10px crimson;
}

#example {
    text-align: center;
    text-shadow: 5px 5px 3px skyblue;
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 100px;
    letter-spacing: 3px;
}